/*FLEX EXERCISE*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.relative-block{
  position: relative;
  display: block;
}

/* Typografy*/
body{
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

h1{
  font-size: 2em;
  color: rgba(255, 255, 255, 1);
}

a{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: color 0.2s;
}
a:hover,
a:active,
a:focus{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
a.active{
  color: #1db954;
}

button{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border: none;
  background: none;
  font-size: inherit;
  transition: color 0.2s;
  cursor: pointer;
}
button:hover,
button:active,
button:focus{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

/*Colors*/
.green_color{
  color: #1db954;
}

.green_bg{
  background: #1db954;
}

.white_05_bg{
  background: rgba(255, 255, 255, 0.5);
}

/*Progress Bar*/
.progress-bar__container{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
}

.progress__time-elapsed,
.progress__time-remaining{
  width: 10%;
  font-size: 0.6em;
}

.progress__bar{
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  height: 4px;
  width: 60%;
}
.bar-perc{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
}
.progress__bar:hover .bar-perc{
  background: #1db954;
}
.perc-40{
  width: 40%;
}
.perc-60{
  width: 60%;
}

.progress__pointer{
  position: absolute;
  top: -4px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #FFF;
  filter: drop-shadow(1px 1px 1px, rgba(0,0,0, 0.3));
}
.pointer--perc-40{
  left: 40%;
}
.pointer--perc-60{
  left: 60%;
}

/*Layout*/
.wrapper{
  width: 100%;
  height: 100vh;
  overflow:hidden;
}

/*Main Section*/
.main-section{
  height: calc(100% - 100px);
  display: flex;
}

/* Sidebar Left*/
.sidebar-left{
  width: 200px;
  background: #000;
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 425px) {
  .sidebar-left{
    width: 80px;
    min-width: 80px;
  }
}

.navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.navbar__top{
  display: flex;
  flex-direction: column;
  min-height: 210px;/*navbar__primary not hidden*/
  overflow: hidden;
}
.navbar__top .logo{
  align-self: center; /*Align center cross axis*/
  width: 80%;
  margin-bottom: 20px;
}
.navbar__top .logo__img{
  width: 100%;
  min-width: 100px;
}
.navbar__top .brand__img{
  display: none;
}
@media screen and (max-width: 425px) {
  .navbar__top .logo__img{
    display:none;
  }
  .navbar__top .brand__img{
    display: block;
    width: 100%;
  }
}

.navbar__top .navbar__primary{
  margin-bottom: 20px;
  list-style: none;
  line-height: 3em;
  font-weight: bold;
}
.navbar__top .navbar__primary__ico{
  margin-right: 10px;
  min-width: 15px;
}
@media screen and (max-width: 425px) {
  .navbar__top .navbar__primary{
    align-self: center;
    text-align: center;
  }
  .navbar__top .navbar__primary__ico{
    margin-right:0;
  }
  .navbar__primary__text{
    display: none;
  }
}

.navbar__top .navbar__listened h2{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 400;
}
.navbar__top .navbar__listened__list{
  list-style: none;
}
.navbar__top .navbar__listened__list li{
  margin-bottom: 10px;
}
.navbar__top .navbar__listened__item .title,
.navbar__top .navbar__listened__item .type{
  display: block;
  font-size: 0.8em;
}
.navbar__top .navbar__listened__item .title{
  font-weight: 400;
}
.navbar__top .navbar__listened__item .type{
  text-transform: uppercase;
}
.navbar__top .navbar__listened__item:hover .type,
.navbar__top .navbar__listened__item:active .type,
.navbar__top .navbar__listened__item:focus .type{
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 425px) {
  .navbar__top .navbar__listened {
    display: none;
  }
}

.navbar__bottom{
}

.navbar__bottom .navbar__app{
  margin: 10px 0;
}
.navbar__bottom .navbar__app .navbar__app__ico{
  margin-right: 10px;
}
@media screen and (max-width: 425px) {
  .navbar__bottom{
    text-align: center;
  }
  .navbar__bottom .navbar__app .navbar__app__ico{
    margin: 0;
    font-size: 2em;
  }
  .navbar__app__text{
    display: none;
  }
}

.navbar__bottom .navbar__account .navbar__link{
  display: inline-block;
  width: 100%;
  border-top: 1px solid rgba(255,255,255,0.5);
  padding-top: 10px;
  color: rgba(255,255,255,1);
}
.navbar__bottom .navbar__account .navbar__link span{
  line-height: 30px;
}
.navbar__bottom .navbar__account .navbar__avatar{
  width: 30px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 5px;
}
@media screen and (max-width: 425px) {
  .navbar__bottom .navbar__account .navbar__avatar{
    width: 100%;
  }
  .navbar__avatar__name{
    display: none;
  }
}

/*Main Content*/
.main-content{
  overflow-y: auto;
  background: linear-gradient(#2B3E5A , #000);
  width: calc(100% - 200px);
}
@media screen and (max-width: 425px) {
  .main-content{
    width: calc(100% - 80px);
    min-width: 100px;
  }
}

.main-content__wrapper{
  max-width: 992px;
  margin: 0 auto;
}

/* Secondary Navbar */
.navbar__secondary{
  padding: 20px;
}
.navbar__secondary .navbar_secondary__list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9em;
  text-align: center;
}
.navbar__secondary .navbar_secondary__list .navbar__link{
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}
.navbar__secondary .navbar_secondary__list .navbar__link.active{
  color: rgba(255,255,255, 1);
}
.navbar__secondary .navbar_secondary__list .navbar__link.active::after{
    content: '';
    margin: 3px auto;
    width: 40%;
    height: 2px;
    background: #1db954;
}


/* Main-content__content */
.main-content__content{
}

.main-content__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.main-content__link-other{
  text-transform: uppercase;
}

.main-content__grid .grid__row{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
}

.main-content__grid .grid__item{
  max-width: 160px;
  padding: 20px;
}
.main-content__grid .grid__cover-item-wrapper{
  margin-bottom: 10px;
}
.main-content__grid .grid__item .grid__item__over{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: rgba(0,0,0, 0.5);
  display: none;
}
.main-content__grid .grid__item:hover .grid__item__over,
.main-content__grid .grid__item:active .grid__item__over,
.main-content__grid .grid__item:focus .grid__item__over{
  display: flex;
}
.main-content__grid .grid__item .grid__item__over i{
  margin: auto;
  font-size: 3em;
}
.main-content__grid .grid__cover-item{
  display: block;
  width: 100%;
}
.main-content__grid .grid__title-item{
  font-size: 1em;
}
.main-content__grid .grid__author-item{
  font-size: 0.7em;
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  .main-content__grid .grid__row{
    flex-wrap: wrap;
  }
  .main-content__grid .grid__item{
    min-width: 100%;
  }
}
@media screen and (min-width: 700px) and (max-width: 768px) {
  .main-content__grid .grid__row{
    flex-wrap: wrap;
  }
  .main-content__grid .grid__item{
    max-width: calc(100%/3);
  }
}

/*End Main Section*/


/* Footer */
.footer{
  width: 100%;
  height: 100px;
  min-width: 320px;
  background: #282828;
}

.onair{
  width: 100%;
  height: 100%;
  padding: 10px;
}

.onair__album{
  display: flex;
  align-items: center;
  width: calc((100%/4) * 1);
  height: 100%;
  float: left;
}
.onair__cover{
  height: 80%;
  margin-right: 10px;
  vertical-align: center;
}
.onair__img{
  max-height: 100%;
  margin: 0;
  padding: 0;
}
.onair__info{
  margin-right: 10px;
  font-size: 0.7em;
}
.onair__flag{
  font-size: 1.2em;
}
@media screen and (max-width: 620px) {
  .onair__album{
    justify-content: flex-end;
  }
  .onair__cover,
  .onair__info{
    display: none;
  }
}

.onair__player{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  width: calc((100%/4) * 2);
  height: 100%;
  float: left;
}
@media screen and (max-width: 620px) {
  .onair__player{

  }
}

.buttons__list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width:200px;
  margin-bottom: 20px;
  list-style: none;
}

.play__button{
  font-size: 2em;
  transition: transform 0.2s;
}
.play__button:hover{
  transform: scale(1.2);
}

.onair__controls{
  width: calc((100%/4) * 1);
  height: 100%;
  float: left;
}
.onair__controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.onair__controls__icon{
  width: 60px;
}
.onair__controls__icon > button{
  margin-right: 10px;
}
.onair__controls__volume{
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.onair__controls__volume i{
  margin-right: 10px;
}
@media screen and (max-width: 620px) {

  .onair__controls__icon{
    display: none;
  }
  .onair__controls__volume .progress__bar{
    display: none;
  }
}
